*
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
  text-decoration: none;
  list-style: none;
}
.nav
{
    height: 40px;
    width: 100%;
    background-color: rgb(6, 10, 10);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0%;
}

.nav1
{
    height: 40px;
    width: 35%;
    /* background-color: rgb(29, 171, 171); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.iconloc
{
 
    height: 30px;
    width: 20%;
    /* background-color: rgb(35, 17, 173); */
}
.iconuser
{
    height: 30px;
    width: 40%;
    /* background-color: rgb(1, 0, 7);    */
}
.iconlike
{
    height: 30px;
    width: 10%;
    /* background-color: rgb(1, 0, 7);    */
}
.iconcart
{
    height: 30px;
    width: 10%;
    /* background-color: rgb(47, 41, 82);    */
}
.ri-map-pin-fill
{
    color: aliceblue;
    font-size: 25px;
    padding-right: 10px;
}
.ri-user-3-fill
{
    color: aliceblue;  
    font-size: 25px;
    padding-right: 10px;  
}
.ri-heart-3-fill
{
    color: aliceblue;
    font-size: 30px;
}
.ri-shopping-cart-2-fill
{
    color: aliceblue;
    font-size: 30px;
}
.headar
{
    height: 80px;
    width: 90%;
    /* background-color: rgb(255, 255, 255); */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:5.5%;
    backdrop-filter: blur(45px) saturate(180%);

}
.logo
{
    height: 30px;
    width: 20%;
    /* background-color: rgb(3, 16, 16);  */
    
}
.logo img
{
    height: 30px;
    width: 100%; 
}
.list1
{
    height: 30px;
    width: 40%; 
    /* background-color: black; */
}
.list1 li
{
    float: left;
    padding: 0% 20px;
    list-style: none;
}
.list1 li a
{
    color: black;
    font-size: 19px;
}
.input
{
    height: 40px;
    width: 30%; 
    /* background-color: black;  */
    position: relative; 
    

}
input
{
    height: 40px;
    width: 80%;
    border-radius: 20px;
    border: 0.1px solid grey;


}
.ri-search-line
{
    position: absolute;
    left: 5%;
    top: 20%;
    font-size:20px ;
}
::placeholder
{
    text-align: center;
}
.cover
{
    height: 400px;
    width: 80%;
    background-color: aqua;
    margin: auto;
    margin-bottom:2%;
}
.cover img
{
    height: 100%;
    width: 100%;
}
.first::after
{
    content: '';
    display: block;
    border: 1px solid black;
    width: 0%;
    margin: auto;
    transition: all ease-in-out 0.4s;
}
.first:hover::after
{
    width: 100%;
}
.line
{
    height: 20px;
    width: 100%;
    /* background-color: rgb(201, 210, 31); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    

}
.line1
{
    height: 1px;
    width: 40%;
    background-color: rgb(122, 121, 121); 
}
.line2
{
    height: 1px;
    width: 40%;
    background-color: rgb(122, 121, 121); 
}
h3
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 61, 61);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 19px;
}
.gallary
{
    height: 600px;
    width: 90%;
    /* background-color: aquamarine; */
    margin: auto;
    margin-top: 2%;
}
.gallary1
{
    height: 50%;
    width: 100%;
    /* background-color: rgb(35, 117, 90); */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box1
{
    height: 100%;
    width:24%;
    /* background-color: blueviolet; */
    border-radius: 5px;
}
.box1 img ,.box2 img,.box3 img,.box4 img,.box5 img,.box6 img,.box7 img,.box8 img
{
    height: 100%;
    width:100%;   
    border-radius: 15px;  

}
.box2
{
    height: 100%;
    width:24%;
    /* background-color: rgb(70, 55, 83); */
}

.box3
{
    height: 100%;
    width:24%;
    /* background-color: rgb(150, 114, 183); */
}
.box4
{
    height: 100%;
    width:24%;
    /* background-color: rgb(57, 220, 207); */
}
.gallary2
{
    height: 50%;
    width: 100%;
    /* background-color: rgb(35, 117, 90); */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
   
    
}
.box5
{
    height: 100%;
    width:24%;
    /* background-color: rgb(57, 220, 207); */
}
.box6
{
    height: 100%;
    width:24%;
    /* background-color: rgb(52, 83, 81); */
}
.box7
{
    height: 100%;
    width:24%;
    /* background-color: rgb(82, 39, 124); */
}
.box8
{
    height: 100%;
    width:24%;
    /* background-color: rgb(163, 203, 18); */
}
.videogallary
{
    height: 400px;
    width: 90%;
    /* background-color: aquamarine; */
    margin: auto;
    margin-top: 2%; 
    display: flex;
    justify-content: space-between; 
   
    
}

.vedio1
{
    height: 100%;
    width:24%;
    background-color: rgb(82, 39, 124); 
    border-radius: 10px;
    overflow: hidden;

}
.vedio2
{
    height: 100%;
    width:24%;
    /* background-color: rgb(166, 207, 53);  */
    border-radius: 10px;
    overflow: hidden;
}.vedio3
{
    height: 100%;
    width:24%;
    /* background-color: rgb(16, 121, 165);  */
    border-radius: 10px;
    overflow: hidden;
}.vedio4
{
    height: 100%;
    width:24%;
    /* background-color: rgb(23, 145, 124);  */
    border-radius: 10px;
    overflow: hidden;
}
.videogallary1
{
    height: 400px;
    width: 90%;
    /* background-color: aquamarine; */
    margin: auto;
    margin-top: 2%; 
    display: flex;
    justify-content: space-between; 

}
.vedio5
{
    height: 100%;
    width:24%;
    background-color: rgb(223, 157, 34); 
    border-radius: 10px;
    overflow: hidden;
}
.vedio6
{
    height: 100%;
    width:24%;
    background-color: rgb(29, 52, 165); 
    border-radius: 10px;
    overflow: hidden;
}
.vedio7
{
    height: 100%;
    width:24%;
    background-color: rgb(18, 18, 7); 
    border-radius: 10px;
    overflow: hidden;
}
.vedio8
{
    height: 100%;
    width:24%;
    background-color: rgb(181, 192, 207); 
    border-radius: 10px;
    overflow: hidden;
}
.btn 
{
    height: 30px;
    width: 150px;
    /* background-color: aqua; */
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    /* line-height: 30px; */
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;


}
.ri-arrow-drop-down-line
{
    font-size: 24px;
    color: black;
    /* line-height: 30px; */
    padding-left: 10px;
}
.btn a
{
    color: black;
    padding-bottom: 10px;
}
.footer
{
    height: 300px;
    width: 100%;
    /* background-color: rgb(235, 234, 234); */
    border-top:1px solid rgb(190, 190, 190);
    border-top:1px solid rgb(195, 195, 195);
    margin-top: 10px;
}
.footer1
{
    height: 250px;
    width: 90%;
    /* background-color: black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.list3
{
    height:90%;
    width: 25%;
    /* background-color: aqua; */

}
.list-second
{
  line-height: 30px;
  /* text-align: center; */
  font-size: 18px;
  
}
.list-second a
{
    color: rgb(92, 92, 92);
}
.footer-icon
{
    height: 40px;
    width: 22%;
    /* background-color: rgb(235, 234, 234); */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-icon1
{
    height: 100%;
    width: 13%;
}
.footer-icon1 img
{
    height: 100%;
    width: 100%;
}
.footer-icon2
{
    height: 100%;
    width: 13%;
}
.footer-icon2 img
{
    height: 100%;
    width: 100%;
}
.footer-icon3
{
    height: 100%;
    width: 13%;
}
.footer-icon3 img
{
    height: 100%;
    width: 100%;
}
.footer-icon4
{
    height: 100%;
    width: 13%;
}
.footer-icon4 img
{
    height: 100%;
    width: 100%;
}
.footer-icon5
{
    height: 100%;
    width: 13%;
}
.footer-icon5 img
{
    height: 100%;
    width: 100%;
}
.last
{
    height: 30px;
    width: 30%;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 20px;
}
.last h5,p
{
    text-align: center;
    line-height: 40px;
}